<a href="https://colab.research.google.com/github/nisarahamedk/kaggle-riid/blob/master/notebooks/dataset_for_transformer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Dataset for Transformer

In [1]:
%%capture
!pip install gcsfs

In [5]:
import gcsfs
import pandas as pd

In [4]:
DATA_GCS_PATH = 'gs://kds-f053d4580bc3a669abc506205db4de0fe88fec05714d876ac14309ac'

In [8]:
dtypes_train = {
    'row_id': 'int64',
    'timestamp': 'int64',
    'user_id': 'int32',
    'content_id': 'int16',
    'content_type_id': 'int8',
    'task_container_id': 'int16',
    'user_answer': 'int8',
    'answered_correctly': 'int8',
    'prior_question_elapsed_time': 'float32',
    'prior_question_had_explanation': 'boolean'
    }

dtypes_questions = {
    "question_id": "",
    "bundle_id": "",
    "correct_answer": "",
    "part": "",
    "tags": "",
}

dtypes_lectures = {
    "lecture_id": "",
    "part": "",
    "tag": "",
    "type_of": "",
}

In [9]:
train_df = pd.read_csv(DATA_GCS_PATH + "/train.csv", dtype=dtypes_train, nrows=1e6)
train_df.head()

   row_id  ...  prior_question_had_explanation
0       0  ...                            <NA>
1       1  ...                           False
2       2  ...                           False
3       3  ...                           False
4       4  ...                           False

[5 rows x 10 columns]

In [10]:
questions_df = pd.read_csv(DATA_GCS_PATH + "/questions.csv")
questions_df.head()

   question_id  bundle_id  correct_answer  part            tags
0            0          0               0     1   51 131 162 38
1            1          1               1     1       131 36 81
2            2          2               0     1  131 101 162 92
3            3          3               0     1  131 149 162 29
4            4          4               3     1    131 5 162 38

In [11]:
lectures_df = pd.read_csv(DATA_GCS_PATH + "/lectures.csv")
lectures_df.head()

   lecture_id  tag  part           type_of
0          89  159     5           concept
1         100   70     1           concept
2         185   45     6           concept
3         192   79     5  solving question
4         317  156     5  solving question

Lets remove the lecture interactions from all the users  from train. We may want to add it back later.

In [13]:
print(f"DF len: {len(train_df)}")
train_df = train_df[train_df.answered_correctly != -1]
print(f"After removing lecture interations df len: {len(train_df)}")

DF len: 1000000
After removing lecture interations df len: 980093

#### Group by User

We are building a sequence dataset. Where each user interactions will be a sequence.

In [23]:
user_groups = train_df.groupby("user_id")

A sample user and user interactions

In [24]:
first_user, first_user_df = next(iter(user_groups))
print(f"User: {first_user}")
first_user_df.head()

User: 115

   row_id  ...  prior_question_had_explanation
0       0  ...                            <NA>
1       1  ...                           False
2       2  ...                           False
3       3  ...                           False
4       4  ...                           False

[5 rows x 10 columns]

In [25]:
len(first_user_df)

46

So this can be considered as a sequence of 46 observation. Although multivariate sequence.

### Cleaning and Merging the Questions Dataframe with Train


*   Lets join the `questions_df` to `train_df` using `content_id` = `question_id`
*   Drop the columns we are not using.
*   Prior_questions_elapsed is in ms - Lets bring it to minutes.
*   Lets add 1 to all the indicator columns - We would need 0 for padding.

In [27]:
train_df = train_df.join(questions_df, on="content_id")
train_df.head()

   row_id  timestamp  user_id  ...  correct_answer  part        tags
0       0          0      115  ...               3     5         151
1       1      56943      115  ...               2     5         168
2       2     118363      115  ...               0     1  131 149 92
3       3     131167      115  ...               0     1  131 104 81
4       4     137965      115  ...               1     1  131 149 92

[5 rows x 15 columns]

In [28]:
drop_cols = [
             "row_id", 
             "timestamp", 
             "content_type_id", 
             "user_answer", 
             "prior_question_had_explanation", 
             "question_id", 
             "bundle_id", 
             "correct_answer", 
             "tags"
             ]
train_df = train_df.drop(drop_cols, axis=1)
train_df.head()

   user_id  content_id  ...  prior_question_elapsed_time  part
0      115        5692  ...                          NaN     5
1      115        5716  ...                      37000.0     5
2      115         128  ...                      55000.0     1
3      115        7860  ...                      19000.0     1
4      115        7922  ...                      11000.0     1

[5 rows x 6 columns]

In [29]:
indicator_cols = ["content_id", "task_container_id", "part"]
for c in indicator_cols:
  train_df[c] = train_df[c] + 1
train_df.head()

   user_id  content_id  ...  prior_question_elapsed_time  part
0      115        5693  ...                          NaN     6
1      115        5717  ...                      37000.0     6
2      115         129  ...                      55000.0     2
3      115        7861  ...                      19000.0     2
4      115        7923  ...                      11000.0     2

[5 rows x 6 columns]

In [32]:
train_df["part"].value_counts()

6    403240
3    190731
7    108567
4     82175
5     75997
2     69411
8     49972
Name: part, dtype: int64